header nav {
  width: 100%;
  line-height: 1.25em;
  border-top: 0.0625em solid black;
  border-bottom: 0.0625em solid black;
  margin-top: 0.625em;
  text-align: center;
}

header nav a {
  opacity: 0.6;
  border: 0.125em solid;
  padding: 0.625em 1.25em;
  margin: 0.0625em;
}

header nav a:visited, header nav a:link {
  color: black;
  background-color: white;
  text-decoration: none;
}

header nav a:hover {
  opacity: 1;
  color: black;
  background-color: white;
  text-decoration: underline;
}

header nav ul {
  padding: 0.3125em;
}

header nav ul li {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}

body {
    margin: 0 5%;
    font-family: 'Overpass', 'Open Sans', sans-serif;
    font-size: 1.125em;
}

i {
  vertical-align: middle;
}

textarea {
  position: relative;
  left: 1.6em;
  vertical-align: middle;
  margin-bottom: 1.25em;
}

.labels {
  position: relative;
  left: 5em;
}

select {
  margin-top: 0.3125em;
  position: relative;
  left: 7em;  
}

#salvar_button {
  margin-left: 10%;
}

input {
  margin: 0.625em;
}

#footerhr {
  margin-top: 5%;
}

.novo_grupo {
  position: relative;
  left: 2em;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.625em 1.5em;
  text-align: center;
  border-radius: 0.5em;
  opacity: 0.6;
  cursor: pointer;
}

#btnCriar {
  position: relative;
  left: 2em;
}

.button:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form label {
  position: relative;
  left: 1em;
}

#adicionahosts {
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
